body{

    margin:0; 
    padding: 0;
    
}

header{
    display: flex;
    font-family: 'Josefin Sans';
    height: 100px;
    width: 100%;
    background-color: #D0dfe0;
    justify-content:last baseline;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}

.logo{
    margin-left: 10px;
}

nav{
    display:flex;
    overflow:hidden;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-right:  10px;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    flex-wrap: wrap;    
}

header > a{
    display: flex;
    width: auto;
    text-decoration: none;
    color: #2e3536;
    margin-right: 10px;
    font-size: 24px;
    
}

nav > a{
    display: flex;
    width: auto;
    text-decoration: none;
    color: #2e3536;
    margin-right: 10px;
    display: inline-flexbox;
    font-size: 24px;
    
}

header nav a:hover{
    color: #fff;
    text-decoration: underline;
}

.login{
    font-size: 12px;
    align-content: space-between;
    justify-items: center;
    align-self: flex-start;
    display: flex;
    margin-left: 470px;
    margin-top: 10px;
    font-family: 'Josefin Sans';
    margin-right: 40px;
    white-space: nowrap;
    background-color: #D0dfe0;
    border:none;
    color: #2e3536;
    
}

.login:hover{
    color: #fff;
    text-decoration: underline;
}

.logout{
    
    font-size: 12px;
    align-content: space-between;
    align-self: flex-start;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-family: 'Josefin Sans';
    margin-right: 10px;
    white-space: nowrap;
    background-color: #D0dfe0;
    border: none;
    color: #2e3536;
}

.logout:hover{
    color: #fff;
    text-decoration: underline;
}

.body{
  position: relative;
  background-color: #d4b9d6;
  width: 100%;
  height: 584px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items:baseline;
  justify-content: flex-start;
  padding: 4px 0;
  box-sizing: border-box;
  gap: 70px;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: 5px;
}

.imagen{
    position: relative;
    width: 490px;
    height: 475px;
    margin-top: 20px;
    margin-right: 20px;

}

.contactanos{
    display: flex;
    font-family: 'Noto Sans';
    font-size: 28px;
    margin:  .5% auto auto 25%;
    color: #2e3536;
}

.duda{
    font-size: 24px;
    font-family: 'Noto Sans';
    display: flex;
    margin: .5% auto auto -35%;
    color: #2e3536;
    padding-top: 10px;
}


.grupo{
    position: absolute;
    width: 556px;
    height: 200px;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-left: 32px;
    margin-top: 180px;
    font-size: 16px;
    font-family: 'Noto Sans';
    
}

.chat,.email,.texto{
    position: relative;
    flex-shrink: 0;
    margin-left: 5px;
    align-content: center;
    vertical-align: middle;
}

.texto{
    font-size: 22px;
    font-family: 'Noto Sans';
    display: flex;
    margin-top: 5px;
    margin-right: 10px;
    color: #2e3536;
    white-space: nowrap;
}

.chat{
    height: 40px;
    width: 40px;
    overflow: hidden;
    float: left;
    display: flex;
    margin-right: 10px;

}

.email{
    height: 40px;
    width: 40px;
    overflow: hidden;
    float: left;
    display: flex;
    margin-right: 10px;

}

/* .email,.chat{
    cursor: pointer;
} */

.amsj{
    color: #2e3536;
    text-decoration: none;
    margin-left: 7px;

}
.amsj:hover{
    color: #fff;
    text-decoration: underline;

}

.aemail{
    margin-left: 7px;
    color:#2e3536;
    text-decoration: none;
}

.aemail:hover{
    color: #fff;
    text-decoration: underline;
}

.closing{
    display: relative;
    position: absolute;
    font-family: 'Noto Sans';
    font-size: 24px;
    color: #2e3536;
    margin-top:  10px;
    margin-left: 20px;
    align-self:self-end;
    margin-bottom: 40px;
}

.footer{
    display: flex;
    position:relative;
    background-color: #2e3536;
    height: 84px;
    width: 100%;
    flex-wrap: wrap;
}

.seguinosen{
    display: flex;
    position: relative;
    color: #fff;
    font-family: 'Noto Sans';
    font-size: 18px;
    align-items: center;
    justify-self: center;
    margin-right: 20px;
    margin-left: 100px;
    white-space:nowrap;
    gap: 90px;
}
 
.span-footer1{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    box-sizing: border-box;
}

.hr-footer1{
    width: 400px;
    display: flex;
    justify-content: start;
    justify-self: flex-start;
    align-self: center;
    position: relative;
    margin-left: 70px;
}

.span-footer2{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    box-sizing: border-box;
}

.hr-footer2{
    width: 400px;
    display: flex;
    justify-content: start;
    justify-self: flex-start;
    align-self: center;
    position: relative;
    margin-left: 100px;
}

.facebook,.insta{
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;
    padding-right: 20px;
    justify-self: center;
    align-self: center;
    cursor: pointer;

}

  .logo-footer{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    object-fit: cover;
  }

  .copiright{
    color: #fff;
    font-family: 'Noto Sans';
    font-size: 12px;
    margin-right: 30px;
    white-space:nowrap;
  }

  .logo-footer,.copiright{
    display:flex;
    margin-top: 45px;;
    position:absolute;
    margin-bottom: 7px;
    align-self: flex-end;

  }

  .logo-footer{
    right: 10%;
  }

  .copiright{
    right: 0.6%;
  }